body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --beer-title-color: #080808;
  --beer-tagline-color: #ffab02;
  --beer-container-bgcolor: #4da6f91c;
  --beer-disc-color: #333333;
  --beer-box-shadow: #c0b9b9;
  --loader-color: #609FD9;
  --loader-bg: #FFFFFF;

  --default-bg:#FFFFFF; 

  --beer-container-height: 150px;
}
